# Flask & Server
flask

# OpenCV
opencv-python-headless

# Data Processing
pandas
numpy
torch
joblib

# Audio & Video Processing
librosa
openai-whisper
moviepy
pydub

# Machine Learning & NLP
deepface
transformers
scikit-learn

# Visualization
seaborn
matplotlib
tqdm

# PDF Generation
reportlab