flask
numpy
pandas
scikit-learn
torch  # Installed via pytorch/pytorch:latest
joblib
tqdm
matplotlib
seaborn
reportlab
opencv-python-headless==4.9.0.80
librosa
pydub
moviepy==1.0.3
transformers
tf-keras
deepface
openai-whisper
gunicorn
